.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 25px;
  grid-column: 1;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  grid-column: 2;
}

.header__address {
  grid-column: 3;
  font-style: normal;
  justify-self: end;
  max-width: 240px;
}

.underline {
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}

.underline-wrapper {
  margin-bottom: 1px;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
}

.overlay {
  position: absolute;
  opacity: 60%;
  background-color: #000000;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__title {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 165px;
}

.aligned-text {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 100px;
  letter-spacing: 0.3em;
  display: block;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.cover__description {
  padding-top: 118px;
  padding-bottom: 60px;
  display: flex;
}


.cover__description-text {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 21px;
  word-spacing: 0.9em;
  padding-left: 50px;
}

.cover__description-button {
  all: unset;  
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 21px;
  border: 1px solid #FFFFFF;
  padding: 12px 32px ;
  margin-left: 138px;
  bottom: 12px;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: column;
}

.lots__card-list-item article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
}

.card__title {
  position: relative;
  color: #FFFFFF;
  z-index: 2;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  justify-content: end;
  margin-top: auto;
}


.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
}